* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



.sidebar {
    /* width: 250px; */
    background-color: brown;

    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.topThing {
    background-color: bisque;


    grid-column: 2 / 5;
    /* grid-row: 1 / 2; */
}

.projects {
    background-color: azure;
    /* width: 500px; */
    height: 1000px;

    grid-column: 2 / 5;
    /* grid-row: 2 / span; */

}

.side-logos {
    width: 3cap;
    fill: antiquewhite;
}